
:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --alert-color: #e74c3c;
    --highlight-color: #f39c12;
    --background-color: #f4f4f4;
    --text-color: #333;
    --modal-background: #fefefe;
    --modal-border-color: #888;
    --overlay-color: rgba(0, 0, 0, 0.5);
}
