
:root {
    --primary-color: #007bff;
    --dark-primary-color: #0056b3;
    --secondary-color: #28a745;
    --alert-color: #dc3545;
    --highlight-color: #fd7e14;
    --background-color: #f4f4f4;
    --text-color: #333;
    --modal-background: #fefefe;
    --modal-border-color: #888;
    --overlay-color: rgba(0, 0, 0, 0.5);
    --gray-text-color: #6c757d;
    --gradient--color-1: #D9AFD9;
    --gradient--color-2: #97D9E1;
}
